################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/PFE_CHU/DesignTimeBuild/.dtbcache.v2
/.vs/PFE_CHU/FileContentIndex
/.vs/PFE_CHU/DesignTimeBuild/.dtbcache.v2
/PFE_CHU/obj/Debug/net6.0/PFE_CHU.GeneratedMSBuildEditorConfig.editorconfig
/PFE_CHU/obj/Debug/net6.0/PFE_CHU.assets.cache
/PFE_CHU/obj/Debug/net6.0/PFE_CHU.AssemblyInfoInputs.cache
/PFE_CHU/obj/Debug/net6.0/PFE_CHU.AssemblyInfo.cs
/PFE_CHU/obj/Debug/net6.0/PFE_CHU.csproj.AssemblyReference.cache
